footer.footer
  .footer__logo-box
    picture.footer__logo
      source(srcset='\
      /img/logo-green-small-1x.png 1x,\
      /img/logo-green-small-2x.png 2x\
      ' media='(max-width: 37.5em)')
      img(srcset='/img/logo-green-1x.png 1x, /img/logo-green-2x.png 2x' alt='Full logo' src='/img/logo-green-2x.png')
      
  .row
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='#') Company
          li.footer__item
            a.footer__link(href='#') Contact us
          li.footer__item
            a.footer__link(href='#') Careers
          li.footer__item
            a.footer__link(href='#') Privacy policy
          li.footer__item
            a.footer__link(href='#') Terms
    .col-1-of-2
      p.footer__copyright
        | Copyright &copy; by 
        a.footer__link(href='#') Manish Boro
        | . All rights reserved.