extends base

block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Enter New Password
            form.form--resetPassword
                .form__group.ma-bt-md
                    label.form__label(for='password') Password
                    input#password-resetPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Password Confirm
                    input#passwordConfirm-resetPassword.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green.btn--resetPassword Change Password